.carousel {
  position: relative;
}
.carouselInner .carousel-item img {
  height: 100vh;
}

@media (max-width: 992px) {
  .carouselInner .carousel-item img {
    height: auto;
  }
}
.mainSlider .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.mainSlider .carousel-caption h5 {
  font-size: xx-large;
}
.mainSlider .carousel-caption p {
  font-size: x-large;
}
