option_settings:
  "aws:elasticbeanstalk:container:python": 
    WSGIPath: bookStoreApi.wsgi:application

  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "bookStoreApi.settings"  # Replace 'project_name' with your Django project's actual name
    DEBUG: "False"  # Set to "True" for development, "False" for production
    SECRET_KEY: "django-insecure-%#-k72=3)37v0#ty-y1t*n((3lto8%88*s*jmqc#eynm0%=ee)"  # Replace with your Django secret key
    DATABASE_URL: "mysql://admin:HasAdmin123@awseb-e-376teawaxa-stack-awsebrdsdatabase-jfkxcdlsupdg.c1e0em4yuhv5.us-east-1.rds.amazonaws.com/awseb-e-376teawaxa-stack-awsebrdsdatabase-jfkxcdlsupdg"  # Replace with your RDS database details

  "aws:elasticbeanstalk:environment:process:default":
    DJANGO_SUPERUSER_USERNAME: "admin"  # Replace with your desired superuser username
    DJANGO_SUPERUSER_PASSWORD: "HasAdmin123"  # Replace with your desired superuser password
    DJANGO_SUPERUSER_EMAIL: "hasankaradirek3@gmail.com"  # Replace with your desired superuser email
