option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "bookStoreApi.settings"
    DEBUG: "False"
    DJANGO_SUPERUSER_USERNAME: "admin"  # Set these as environment variables
    DJANGO_SUPERUSER_PASSWORD: "HasAdmin123"
    DJANGO_SUPERUSER_EMAIL: "hasankaradirek3@gmail.com"

container_commands:
  01_migrate:
    command: "docker exec python manage.py migrate --noinput"
    leader_only: true
  02_createsuperuser:
    command: "docker exec python manage.py create_superuser"
    leader_only: true
