option_settings:

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "bookStoreApi.settings"
    DEBUG: "False"

  aws:elasticbeanstalk:environment:process:default:
    DJANGO_SUPERUSER_USERNAME: "admin"  # Replace with your desired superuser username
    DJANGO_SUPERUSER_PASSWORD: "HasAdmin123"  # Replace with your desired superuser password
    DJANGO_SUPERUSER_EMAIL: "hasankaradirek3@gmail.com"  # Replace with your desired superuser email
container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true


