.book-infos,
.book-images {
  flex-basis: 45%;
}
.book-infos {
  margin: auto;
}
.book-image {
  width: 100%;
  max-height: 65vh;
}

.book-image-thumb {
  height: 10vh;
}
.book-image-thumb-container {
  overflow-x: auto;
}
.book-info-list {
  list-style: none;
  padding-left: 0;
}
.book-info-list li {
  font-size: 1.25rem;
}

#book-tags {
  text-align: center;
}
#book-price {
  font-size: 2rem;
  color: red;
}

.book-detail-btn {
  margin-left: 2rem;
  width: 30vw;
}

#book-info-image {
  margin-bottom: 0.5rem;
}
.book-detail-description{
  background-color: rgba(255, 0, 0, 0.226);
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
@media (max-width: 1200px) {
  .book-infos {
    margin: 0;
  }
  .book-image {
    width: 50vw;
  }
  .book-image-thumb-container {
    width: 50vw !important;
  }
}

@media (max-width: 768px) {
  .book-infos,
  .book-images {
    flex-basis: 100%;
    width: 100% !important;
    justify-content: center;
    padding-left: 1.25rem;
  }
  .book-image-thumb-container {
    width: 100% !important;
  }
  .book-image {
    width: 100%;
    margin-bottom: 1rem;
  }
  .book-detail-btn {
    width: 50vw;
  }
}
