.footer {
  color: white;
  background-color: #35393f;
  width: 100%;
}
.footer-block-2 ul {
  list-style: none;
  padding-left: 0;
}
.footer-block-2 li {
  display: list-item;
}
.fixed-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-block-3 {
  display: block;
}
@media (max-width: 768px) {
  .footer-block-2 li {
    display: list-item;
  }
  .footer-block-2 ul {
    margin-top: 0;
  }
}
