.footer {
  color: white;
  background-color: #35393f;
}
.footer-right ul {
  list-style: none;
  margin-top: 2rem;
}
.footer-right li {
  display: inline;
}

@media (max-width: 768px) {
  .footer-right li {
    display: list-item;
  }
  .footer-right ul {
    margin-top: 0;
  }
}
