body {
  font-family: inter-light;
}
html,
body {
  height: 100%;
  margin: 0;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.gap {
  height: 120px;
}
.error {
  color: red;
  padding: 1rem;
}
@media (max-width: 992px) {
  .gap {
    display: none;
  }
}
