.nav-login-container {
  position: absolute;
  right: 0.75rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #35393fdb;
  color: white;
  width: 30vw;
}
.nav-user-container {
  display: block;
}
.nav-login-dropdown {
  position: absolute;
  background-color: #35393fdb;

  right: 0;
  border-radius: 1rem;
}
.nav-login-dropdown a {
  color: white;
}
@media (max-width: 992px) {
  .nav-login-dropdown {
    right: 20vw;
    bottom: 40vh;
  }
  .nav-login-container {
    width: 60vw;
  }
}
@media (max-width: 481px) {
  .nav-login-dropdown {
    right: 10vw;
  }
  .nav-login-container {
    width: 80vw;
  }
}
